.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #242735;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  .shared-container{
    width: 100%; 
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .winner{
    color: #a5d6a7;
  }
  .loser{
    color:#ef9a9a;
  }
  .first-team, .second-team{
    display: flex;
    width: 100%;
  }
  .second-team {
    flex-direction: row-reverse;
  }
  .divisor-vs{
    width: 100%;
    height: 1em;
    text-align: center;
    color: white;
  }
  .first-team-text{
    width: 100%;
    padding-left: 2vw;
  }
  .second-team-text{
    width: 100%;
    text-align: right;
    padding-right: 2vw;
  }
  .buttons{
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    .mid-size-cont{
      width: 50%;
      text-align: center;
      float: left;
      padding-top: 2vh;
      padding-bottom: 2vh;
      font-size: 1em;
      font-weight: bold;
      text-transform: capitalize;
      color:white;
      &.danger{
        background-color: var(--ion-color-danger);
      }
      &.primary{
        background-color: var(--ion-color-primary);
      }
    }
  }
  .text{
    padding-left: 1em; font-size: 0.8em; color: white
  }
}
