.axie-container {
  display: flex;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0);
}
.axie-display {
  width: 24vw;
  padding: 0px;
  margin: 1vw;
  transform: scale(1.6);
  &.selected {
    --background: #242735;
  }
}

p{
  padding-left: 3vw;
  font-size: 0.8em;
}
ion-card-header{
  background: #282b39;
}