<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis Axies</ion-card-title>
      </ion-card-header>    
      <ion-card-content>
        <div class="axie-container">
          <ion-card *ngFor="let axie of sesion.axies" class="axie-display" (click)="seleccionar(axie)" class="{{axie.cssContainerClass}}"  >
            <img src="{{axie.image}}" />
          </ion-card>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>