<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="actualizarDatos();">
      Earnings
    </ion-title>
    <ion-buttons slot="end">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-line-chart [data]="scholarStory"></app-line-chart>
  <ion-list >
    <ion-item *ngFor="let option of options">
      <ion-label >{{option.label}}</ion-label>
      <div *ngIf="option.type==='slp'" >
        <div *ngIf="!option.alto">{{option.value}}<div class="slp"></div></div>
        <div *ngIf="option.value >= option.alto && option.value !== 0" class="alto">{{option.value}}<div class="slp"></div></div>
        <div *ngIf="option.value <= option.bajo && option.value !== 0" class="bajo">{{option.value}}<div class="slp"></div></div>
        <div *ngIf="option.value < option.alto && option.value > option.bajo && option.value !== 0" class="medio">{{option.value}}<div class="slp"></div></div>
        <p>{{parse(option.value*sesion.slp.price)}}$</p>
      </div>
      <div *ngIf="option.type==='mmr'">
        <span>🏆</span>{{option.value}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>

