<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Earnings
    </ion-title>
    <ion-buttons slot="end">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-line-chart [data]="scholarStory"></app-line-chart>
  <ion-list >
    <ion-item *ngFor="let option of options">
      <ion-label>{{option.label}}</ion-label>
      <div>
        <span *ngIf="option.type==='mmr'">🏆</span>
        {{option.value}}
        <div *ngIf="option.type==='slp'" class="slp"></div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

