.slp {
  background-image: url(../../assets/img/SLP.png);
  height: 1em;
  width: 1em;
  background-size: cover;
  float: left;
  margin-top: 0.1em;
}
p{
  font-size: 0.5em;
  color:gray;
  text-align: right;
}
