<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm">
  <div class="loginForm" color="primary" >    
      <ion-item>
        <ion-label position="floating" color="white">Name</ion-label>
        <ion-input id="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rank type</ion-label>
        <ion-select value="MMR" okText="Okay" cancelText="Dismiss" formControlName="rankType" id="rankType">
          <ion-select-option value="MMR">MMR</ion-select-option>
          <ion-select-option value="totalSLP">Total Slp</ion-select-option>
          <ion-select-option value="monthSLP">Month Slp</ion-select-option>
          <ion-select-option value="weekSLP">Week Slp</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="white">Discord link</ion-label>
        <ion-input id="discord" formControlName="discord"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Academy?</ion-label>
        <ion-checkbox slot="end" formControlName="type" id="type"></ion-checkbox>
      </ion-item>
      <ion-button expand="block" (click)="enviar()" [disabled]="!registerForm.valid" >Send</ion-button>
  </div>
</form>
</ion-content>