<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Community
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="!community">
  <div class="create" (click)="navigate('create')">Crear una nueva comunidad</div>
  <div class="join" (click)="navigate('join')">Unirse a una comunidad</div>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="community">
  <br>
  <ion-title>
    {{community.name}}
  </ion-title>
  <ion-list *ngIf="community.solicitudes.length !== 0 && admin">
    <ion-list-header>
      <ion-label>Request</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let solicitud of community.solicitudes">
      <ion-label>{{solicitud.fromName}}</ion-label>
      <div (click)="accept(solicitud)" slot="end">
        <ion-icon slot="icon-only" name="checkmark-circle-outline" size="large" color="primary"></ion-icon>
      </div>
      <div (click)="reject(solicitud)" slot="end">
        <ion-icon slot="icon-only" name="close-circle-outline" size="large" color="danger"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="community.rank">
    <p style="padding-left: 3vw;" (click)="navigate('rank')">Rank</p>
    <app-rank-list [axie]="community.rank.firstPlace.axie" [scholar]="community.rank.firstPlace.scholar"
      [type]="'first'"></app-rank-list>
    <app-rank-list [axie]="community.rank.secondPlace.axie" [scholar]="community.rank.secondPlace.scholar"
      [type]="'second'" *ngIf="community.rank.secondPlace"></app-rank-list>
    <app-rank-list [axie]="community.rank.thirdPlace.axie" [scholar]="community.rank.thirdPlace.scholar"
      [type]="'third'" *ngIf="community.rank.thirdPlace"></app-rank-list>
  </ion-list>
  <ion-list >
    <p style="padding-left: 3vw;" (click)="navigate('feed')">Feed</p>
    <ion-card *ngIf="community.feed.length === 0">
      <ion-item-divider>
        <ion-label>
          {{feedPlaceHolder}}
        </ion-label>
      </ion-item-divider>
    </ion-card>
    <div *ngFor="let post of community.feed.slice(0,3)">
      <ion-card *ngIf="!post.shared">
        <ion-item-divider>
          <ion-label style="color:white">
            {{post.text}}
          </ion-label>
        </ion-item-divider>
        <app-list-item-user-avatar [axie]="post.author.axie" [scholar]="post.author.scholar" [type]="'shared'">
        </app-list-item-user-avatar>
      </ion-card>
      <div *ngIf="post.shared">
        <app-battle-item-list [type]="'shared'" [battle]="post" ></app-battle-item-list>
      </div>
    </div>
  </ion-list>
</ion-content>