<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Community
    </ion-title>
    <ion-buttons slot="end">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="!community">
  <div>crear comunidad</div>
  <div>buscar comunidad</div>
</ion-content>
<ion-content [fullscreen]="true" *ngIf="community">
  {{community.name}}integrantes
  <div>rank</div>
  <div>feed mensajes</div>
</ion-content>
