<ion-header [translucent]="true">
  <ion-toolbar>    
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Rank
    </ion-title>
    <ion-buttons slot="end">
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-list-item-user-avatar [axie]="firstPlace.axie" [scholar]="firstPlace.scholar" [type]="'first'" *ngIf="ready"></app-list-item-user-avatar>
    <app-list-item-user-avatar [axie]="secondPlace.axie" [scholar]="secondPlace.scholar" [type]="'second'" *ngIf="ready"></app-list-item-user-avatar>
    <app-list-item-user-avatar [axie]="thirdPlace.axie" [scholar]="thirdPlace.scholar" [type]="'third'" *ngIf="ready"></app-list-item-user-avatar>    
    <app-list-item-user-avatar [axie]="item.axie" [scholar]="item.scholar" *ngFor="let item of list"></app-list-item-user-avatar>
  </ion-list>
</ion-content>
