<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="actualizarDatos();">
      Shared Battles
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngFor="let day of list">
      <ion-item-divider>
        <ion-label>
          {{day.title}}
        </ion-label>
      </ion-item-divider>
      <app-battle-item-list [type]="'shared'" [battle]="battle" *ngFor="let battle of day.battles" (click)="open(battle)"></app-battle-item-list>
    </div>
  </ion-list>
</ion-content>