<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Axies
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card *ngFor="let axie of sesion.axies">
  <img src="{{axie.image}}">
  <ion-list class="card-container">
    <app-card-widget *ngFor="let ability of axie.abilities" [card]="ability"></app-card-widget>
  </ion-list>
</ion-card>
</ion-content>