<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Shared Battles
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-battle-item-list [type]="'shared'" [battle]="battle" *ngFor="let battle of battles" (click)="open(battle)" ></app-battle-item-list>
  </ion-list>
</ion-content>