<ion-app>
  <ion-menu side="start"  contentId="main">
    <ion-header>
      <div class="container" *ngIf="ready">
        <div class="avatar" >
          <div class="img-container">
            <img src="{{sesion.user.avatar}}" alt="">
          </div>
        </div>
        <ion-item >
          <ion-label>{{sesion.infinity.name}}</ion-label>
          <ion-card-subtitle>{{sesion.infinity.MMR}}🏆</ion-card-subtitle>
        </ion-item>
      </div>
    </ion-header>
    <ion-content>
        <ion-item>Ajustes</ion-item>
        <ion-item (click)="navigateTo('profile')">Profile</ion-item>
        <ion-item (click)="logout()">logout</ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
