<ion-app>
  <ion-menu side="start"  contentId="main" *ngIf="ready">
    <ion-header>
      <ion-toolbar>
        <ion-title>LeonAcademy</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-item color="ligth">
          <app-axie-min-avatar  [axie]="sesion.user.userAvatar" [team]="'first'"></app-axie-min-avatar>
          <ion-label>
            <h2>{{sesion.infinity.name}}</h2>
            <h4><div class="slp"></div>{{sesion.infinity.totalSLP}}</h4>
          </ion-label>
          <p>{{sesion.infinity.MMR}}🏆</p>
        </ion-item>
        <ion-item-divider>
          <ion-label>
            Crypto 
          </ion-label>
        </ion-item-divider>
        <ion-item>{{slp.price}}$<div slot="end"><img src="{{slp.image}}"></div></ion-item>
        <ion-item>{{axs.price}}$ <div slot="end"><img src="{{axs.image}}"></div></ion-item>
        <ion-item>{{eth.price}}$ <div slot="end"><img src="{{eth.image}}"></div></ion-item>
        <ion-item-divider>
          <ion-label>
            Personal
          </ion-label>
        </ion-item-divider>
        <ion-item (click)="navigateTo('my-axies')">mis Axies <div class="axies" slot="end"></div></ion-item>
        <ion-item (click)="navigateTo('battles')">mis Batallas <div class="battles" slot="end"></div></ion-item>
        <ion-item (click)="navigateTo('inbox')">Inbox <div slot="end"><ion-icon name="mail" size="large"></ion-icon></div></ion-item>
        <ion-item (click)="navigateTo('friends')">amigos</ion-item>
        <ion-item (click)="navigateTo('profile')">Profile</ion-item>
        <ion-item (click)="logout()" color="danger">
          logout
          <ion-note color="dark" slot="end">V{{appVersion}}</ion-note>
        </ion-item>
        
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
