.slp {
    background-image: url(../../../assets/img/SLP.png);
    height: 1em;
    width: 1em;
    background-size: cover;
    float: left;
    margin-top: 0.1em;
  }
  ion-item{
    font-size:12px
  }
  h2{
    font-size:12px;
    margin-bottom: 0.4em;
  }
  h4 {
    font-size: 10px;
    margin-bottom: 0.4em;
    color:silver;
  }
  .shared{
    background-color: var(--ion-color-primary);
  }
  .first{
    background-color: #e5ab00;
  }
  .second{
    background-color: #A9A9A9;
  }
  .third{
    background-color: #cd7f32;
  }
  .first, .second, .third{
    h4 {
      color:white;
    }
  }
  