.slp {
    background-image: url(../../../assets/img/SLP.png);
    height: 1em;
    width: 1em;
    background-size: cover;
    float: left;
    margin-top: 0.1em;
  }
  ion-item{
    font-size:12px
  }
  h2{
    font-size:12px;
    margin-bottom: 0.4em;
  }
  h4 {
    font-size: 10px;
    margin-bottom: 0.4em;
    color:silver;
  }
  .shared{
    background-color: var(--ion-color-primary);
  }
  .first{
    background: linear-gradient(135deg, rgba(139,109,19,0.9220063025210083) 21%, rgba(229,171,0,1) 94%);
  }
  .second{
    background: linear-gradient(135deg, rgba(112,112,112,1) 21%, rgba(169,169,169,1) 94%);
  }
  .third{
    background: linear-gradient(135deg, rgba(93,56,20,1) 21%, rgba(205,127,50,1) 94%);
  }
  .first, .second, .third{
    h4 {
      color:white;
    }
  }
  