.loginForm {
    bottom: 2vh;
    position: absolute;
    width: 95vw;
    left: 2.5vw;
}
.or-label {
    font-size: 0.7em;
    width: 100%;
    text-align: center;
    height: 2em;
    padding-top: 0.65em;
}
ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
}