<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loginForm" color="primary">
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input id="fullname" formControlName="fullname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input id="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" id="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" id="confirmPassword" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Accept Terms and Conditions</ion-label>
        <ion-checkbox slot="end" formControlName="acceptTerms" id="acceptTerms"></ion-checkbox>
      </ion-item>
      <ion-button expand="block" (click)="enviar()" [disabled]="!registerForm.valid" >Send</ion-button>
    </form>
  </div>
</ion-content>