<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Batallas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let day of list" >
      <ion-item-divider (click)="mostrar(day)">
        <ion-label>
          {{day.title}}
        </ion-label>
        <div slot="end"><span class="win">{{day.win}}</span>/<span class="lose">{{day.lose}}</span></div>
      </ion-item-divider>
      <div *ngIf="day.show">
        <app-battle-item-list [battle]="battle" *ngFor="let battle of day.battles"></app-battle-item-list>
      </div>
    </div>
  </ion-list>
</ion-content>
